@namespace UIComponents.DropDownMenu

<div>This is a dropdown menu</div>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    internal void RegisterMenuItems()
    {
        StateHasChanged();
    }
}