.menu-item {
    list-style: none;
    position: relative;
}

.menu-item-active {
    color: red;
}

.menu-item-label {
    padding: 8px 14px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

    .menu-item-label:hover {
        background: #f0f0f0;
    }

.oi-menu-icon {
    height: 1em;
    margin-left: 10px;
    color: lightgrey;
}